auth --useshadow --passalgo=sha512  #用户密码的加密方式
key --skip 
bootloader --location=mbr
clearpart --all --initlabel
text
firewall --disabled
firstboot --disable
keyboard us
lang en_US
logging --level=info
url --url=http://10.10.67.11/pxe/
network --device=em1 bootproto=dhcp --onboot=yes
rootpw admincp
selinux --disabled
timezone Asia/Shanghai
#xconfig --defaultdesktop=GNOME -depth=8 --resolution=640x480
zerombr yes  #任何磁盘上的无效分区表都将被初始化
part /boot --fstype="ext4"  --size=512
part / --fstype="ext4"  --size=20480
part /var --fstype="ext4"  --size=20480
part /home --fstype="ext4"  --size=20480
part /tmp --fstype="ext4"  --size=10240
part swap --fstype="swap" --size=8196
part /Data --fstype="ext4"  --grow --size=1
%packages
@base

#安装后将执行的命令
%post
makdir /root/post_test
sed -i 's/#Port/Port/' /etc/ssh/sshd_config